/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.clearfix {
  *display: inline-block; }
  .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica, arial, sans-serif;
  color: #333333; }

#header h1 {
  font-size: 36px;
  color: black;
  padding-bottom: 5px;
  border-bottom: 3px solid #666666; }
  #header h1 .small {
    font-size: 14px; }

#options {
  float: right;
  color: #333333;
  font-weight: bold; }
  #options a {
    color: #999999;
    text-decoration: none; }
    #options a:hover {
      color: black;
      text-decoration: underline !important; }

#content h1 {
  margin-bottom: 0px; }
  #content h1 span {
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px;
    position: relative;
    top: -4px; }
    #content h1 span.done {
      background-color: blue; }
    #content h1 span.overdue {
      background-color: red;
      color: white; }
    #content h1 span.behind {
      background-color: orange;
      color: white; }
    #content h1 span.on-schedule {
      background-color: green;
      color: white; }
#content h2 {
  color: #cccccc;
  margin-top: 0px; }
#content .period {
  color: #888888;
  background-color: #eeeeee;
  padding: 4px; }
#content .workstream {
  float: left;
  padding: 4px; }
  #content .workstream h1 {
    font-size: 22px; }
  #content .workstream h2 {
    font-size: 18px; }

#footer {
  margin-top: 40px;
  color: #aaaaaa;
  text-transform: uppercase; }
